<form style="display: inline;" method="post" action="{{ path('app_equipement_sportif_delete', {'id': equipement_sportif.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet Équipement Sportif ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipement_sportif.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
