<form style="display: inline;" method="post" action="{{ path('app_organisateur_delete', {'id': organisateur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet Organisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organisateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
