{% extends 'base.html.twig' %}

{% block title %}Organisateurs / Modifier{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Organisateurs / Modifier</h1>
    </div>


    {{ include('organisateur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
